*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-logo: red;
    --clr-background:#300D6E;
    --clr-text: #190934;
    --clr-accent: #5DDDFA;
    --clr-dark: #5A18C9;
    --clr-light:#E9DFFB;
    --clr-med: #905BEC;
    --clr-extralight: #E9DFFB;

    --txt-cursive: Brush Script MT, Brush Script Std, cursive;
}

body {
    margin: 1em;
    background-color: var(--clr-background);
    color: var(--clr-text);
    line-height: 1.5;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
}

footer {
    width: 100%;
}

h3 {
    font-size: 2.5em;
    font-style: italic;
}

h2 {
    color: var(--clr-accent);
    text-align: center;
    font-size: 4em;
    text-shadow: 4px 4px black;
    font-style: italic;
}

h1 {
    color:var(--clr-accent);
    text-shadow: 4px 4px black;
    font-style: italic;
}

button {
    border-radius: 2px;
    background-color: var(--clr-background);
    text-decoration: none;
    color: white;
    padding: 0.5em 1.5em;
    font-size: 1em;
}

.learn-more-button {
    text-align: right;
}

.seperation-bar {
    background-color: var(--clr-background);
    max-width: 100%;
    height: 100px;
}

.project-loop-box {
    min-height: 600px;
    max-height: 700px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.6fr 1fr 0.6fr;
}

.projects-video-loop {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    border-radius: 10px;
}

.project-loop-text {
    padding: 1em;
    background-color: var(--clr-light);
    grid-row: 2 /  2;
    grid-column: 2 /  2;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0.5fr;
    height: 1fr;
    border-radius: 10px;
}

.projects-paragraph {
    margin-top: 0em;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.projects-title2{
    margin: 0em;
    text-align: left;
    font-size: 1.8em;
}

.project-previews {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projects {
    padding-bottom: 1.5em;
}

.project-preview-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
}

.project-preview-pic {
    width: 80%;
    margin-bottom: 0.8em;
    border-radius: 10px;
}

.button1 {
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: var(--clr-dark);
    text-align:center;
    transition: all 0.15s;
}

.button1:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    background-color: var(--clr-background);
    color: var(--clr-accent);
    border-color: var(--clr-accent);
}

.button2 {
    text-align: center;
}

.button3 {
    text-align: right;
}

@media all and (max-width:30em){
    .button1{
        display:block;
        margin:0.4em auto;
    }
}

.social-links-box {
    display: flex;
    justify-content: center;
}

.social-links {
    width: 80%;
    max-width: 800px;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr repeat(3, 1fr) 2fr;
}

.social-title {
    color: black;
    text-shadow: none;
    margin-bottom: 0em;
    font-size: 2.5em;
}

.instagram-link {
    width: 100%;
    text-align: center;
    grid-column: 3;
}

.linkedin-link {
    text-align: center;
    grid-column: 2;
}

.facebook-link {
    text-align: center;
    grid-column: 4;
}

.social-img {
    width: 200px;
    padding: 1em;
}

img {
    max-width: 100%;
}

.logo-box{
    width: 15%;
    max-height: inherit;
    display: flex;
}

.logo {
    max-height: 150px;
    object-fit: inherit;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    margin: 1em 0 0;
    background-color: white;
    max-height: 150px;
    border-radius: 10px 10px 0 0;
}

.nav {
    flex: 3 0 auto;
    display: flex;
    align-self: flex-end;
    justify-content: space-evenly;
}

.navigation-option {
    text-decoration: none;
    color: black;
    font-size: 1.0em;
}

.navigation-option:hover{
    color: var(--clr-med);
}

.main-grid {
    background-color:var(--clr-background);
}

.welcome-box {
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
}

.welcome-title {
    font-size: 4em;
    margin-top: 10px;
    font-style: italic;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.skyline-background-image {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    grid-column: 1 /span 4;
    grid-row: 1 / span 4;
    border-radius: 0 0 10px 10px;
}

.introduction {
    width: 100%;
    padding-bottom: 1em;
}

.introduction-paragraph {
    margin: 1em;
    background-color: white;
    padding: 0.5em;
    text-align: left;
    font-size: 1.5em;
}

.SC-portrait-image {
    width:100%;
    object-fit: fill;
}

.video-loop-box {
    min-height: 500px;
    max-height: 600px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.6fr 1fr 0.6fr;
}

.youtube-video-loop {
    object-fit: cover;
    display: block;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
}

.youtube-loop-text {
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    background-color: var(--clr-light);
    grid-row: 2 /  3;
    grid-column: 2 /  3;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0.5fr;
    height: 1fr;
    border-radius: 10px;
}

.youtube-paragraph {
    margin-top: 0em;
    flex-wrap: wrap;
}

.youtube-title{
    font-size: 1.5em;
    margin: 0em;
    text-align: left;
}

.setup-title {
    font-size: 2.5em;
}

.setup {
    position: relative;
}

.setup-image {
    min-height: 500px;
    max-height: 600px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.setup-button {
    position:absolute;
    top: calc(50%);
    left: 0;
    text-align:center;
    width: 100%; 
    opacity: 0.6;
    font-size: 1.2em;
}

.setup-button:hover {
    opacity: 1;
}

.icon-tag {
    font-size: smaller;
    text-align: right;
    margin-top: 8em;
}

.contact-box {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me-title {
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.contacts-table {
    width: 80%;
    justify-content: center;
    background-color: white;
    display: flex;
    padding: 1em;
    padding-right: 0em;
    border-radius: 10px;
}

tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
}

th img {
    width: 100%;
    height: auto;
}

th {
    font-size: max(1.6vw, 1.5em);
    display: flex;
    align-items: flex-start;
    margin: 0.25em 0;
}

.table-link {
    text-decoration: none;
    color: black;
}

tr {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-row: auto;
    align-items: center;
    justify-content: left;
    padding-bottom: 2em;
}

th:nth-child(1) {
    flex: 0 1 auto;
}

th:nth-child(2) {
    padding-left: 5%;
    flex: 0 4 auto;
}

.contacts-portrait-box {
    display: none;
    visibility: hidden;
    border-radius: 10px;
}

.contacts-grid {
    display: flex;
    height: auto;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.portfolio {
    width: 100%;
    margin: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-item-box {
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-title {
    display: flex;
    justify-content: center;
}

.portfolio-img-box {
    width: 40%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-content: center;
}

.portfolio-label {
    font-size: 2em;
    margin: 0em;
}

.portfolio-links {
    width: 100%;
    text-align: center;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: white;
    padding-top: 0.5em;
    border-radius: 10px;
}

.projects-box {
    background-color: var(--clr-light);
    padding-bottom: 1.5em;
    --clr-text: #190934;
    display: flex;
    flex-direction: column;
    padding: 0.75em;
}

.project-info-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding: 0.5em;
    padding-bottom: 5em;
}

.project-info-title {
    font-size: 2.5em;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0.25px 0.25px black;
}

.project-info-description {
    font-size: 1.25em;
}

.project-info-img-box {
    margin: 0 auto;
}

.project-info-image {
    align-self: center;
}

.project-info-image2 {
    visibility: hidden;
    position: absolute;
    left: -1000px;
}

#car-dash-project-text {
    padding-left: 1em;
}

.projects-box:last-child {
    padding-bottom: 0%;
}

@media (min-width: 1000px) {
   .navigation-option {
    font-size: 1.5em;
   }
   
    .introduction {
       max-width: 1750px;
       margin: 0 auto;
       display: grid;
       grid-template-columns: repeat(6, 1fr);
       grid-template-rows: 0.4fr repeat(4, 1fr) 0.4fr;
       padding-bottom: 0em;
   }

   .SC-portrait-image {
       max-width: 75%;
       grid-column: 3 / span 6;
       grid-row: 2 / span 4;
       border-radius: 10px;
   }

   .introduction-paragraph {
       width: fit-content;
       height: fit-content;
       font-size: 1.5em;
       z-index: 1;
       padding: 2em;
       background-color: white;
       grid-column: 1 / span 3;
       grid-row: 3 / span 5;
       border-radius: 10px;
   }

   .welcome-box {
       height: 300px;
       display: grid;
   }

   .welcome-title {
       font-size: 6em;
   }

   .button1 {
    font-size: 1.2em;
   }

   .content-box {
       max-width: 1500px;
       margin: 0 auto;
   }

   .project-previews {
    flex-direction: row;
    justify-content: center;
   }

   .project-preview-box {
       width: 35%;
       max-width: 800px;
       height: min-content;
   }

   .project-preview-pic {
       height: fit-content;
       max-height: 1000px;
       object-fit: cover;
   }

   .contacts-portrait-box {
        display: flex;
        visibility: visible;
        align-items: flex-start;
        width: 40%;
        padding: 1em;
        margin: 0em;
        padding-left: 0em;
        border-radius: 10px;
   }

   .projects-box {
        width: 100%;
        max-width: 2000px;
        margin: 0 auto;
    }   

    .project-info-box {
        display: flex;
        flex-direction: row;
    }

    .project-info-text-box {
        flex: 1 1 10%;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    .project-info-img-box {
        width: 100%;
        height: auto;
        flex: 2 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .project-info-image {
        padding: 1em;
        padding-right: 0.5em;
    }

    .project-info-image2 {
        visibility: visible;
        position: relative;
        left: 0;
        padding: 1em;
        padding-left: 0.5em;
    }
   
}